@import '../../shared/css/constants';

body > div {
    margin-top: 10vh;
    display: grid;
    place-items: center;

    img {
        height: 60px;
    }

    img:not(img:first-child) {
        margin-bottom: 3rem;
    }
}

hr {
    border-color: $accent-color;
    width: 40vw;
}

h1 {
    margin-bottom: 2rem;
}

form, #msg {
    width: 90vw;
    max-width: 1000px;
    margin-top: 5vh;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 0 15px $accent-color;
    background: $main-color;
}

li::marker {
    color: transparent;
}

#confirm-btn {
    width: 100%;
}

.captcha {
    height: 10vh;
}