@import '../../../shared/css/constants';

section {
    width: fit-content;
}

hr:not(header hr) {
    margin: auto;
    width: 80%;
    border: 2px solid $accent-color;
    border-radius: 100%;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10vw;
    place-items: center;

    & > div,
    fieldset {
        background: $main-color;
        box-shadow: 0 0 15px $accent-color;
        width: fit-content;
        display: grid;
        grid-template-columns: auto;
        row-gap: 1rem;
        border-radius: 0.5rem;

        a {
            color: $secondary-color;
            text-decoration: none;
        }

        div {
            width: 400px;
            display: grid;
            grid-template-columns: 20% auto;
            place-items: center start;
            border: 1px solid $accent-color;
            border-radius: 0.5rem;
            transition: 300ms;

            &:hover:not(.info) {
                color: $main-color;
                background: $secondary-color;
            }

            h5 {
                transform: translateY(0.2em);
            }

            img {
                height: 50px;
            }
        }

        .action {
            color: $main-color;
            background: $accent-color;
        }

        .info {
            border: none
        }
    }
}

@import 'medias';
