{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Credencial de Usuário {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/detail_view.css' %}">
<script src="{% static 'secret/js/detailView.js' %}"></script>
{% endblock %}


{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes da Credencial</h1>

    <a href="{% url 'secret:credential_update_view' object.slug %}" class="btn btn-primary">Editar Credencial</a>
    <a href="{% url 'secret:credential_delete_view' object.slug %}" class="btn btn-danger">Apagar Credencial</a><br>
    <a href="{% url 'secret:credential_create_view' %}" class="btn btn-outline-secondary mt-3">Nova Credencial</a>
</div>

<div id="object-content" class="mt-5 mb-5 mx-auto pt-2 pb-4 px-3 text-center">

    <h2 class="mt-5"><img src="/static/secret/img/Credential/{{ object.service }}.svg"
            alt="Logo do serviço referente a esta credencial: {{ object.get_service_display }}.">
        {{ object.get_service_display }}</h2>
    <h6>Serviço</h6>
    <hr>

    <h2 class="mt-5">{{ object.name }}</h2>
    <h6>Apelido</h6>
    <hr>

    {% if object.thirdy_party_login %}
    <h2 class="mt-5">{{ object.thirdy_party_login_name }}</h2>
    <h6>Login com 3º</h6>
    <hr>

    {% else %}
    <h2 class="mt-5" data-value="{{ object.login }}">*****</h2>
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        Login
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>

    <h2 class="mt-5" data-value="{{ object.password }}">*****</h2>
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        Senha
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>
    {% endif %}

    {% if object.note %}
    <h4 class="mt-5" style="text-align: left;">{{ object.note|linebreaks }}</h4>
    {% else %}
    <h2 class="mt-5">-----</h2>
    {% endif %}
    <h6>Anotação</h6>
    <hr>

</div>
{% endblock %}