@import '../../shared/css/constants';

#object-content {
    max-width: 90vw;
    min-width: 30vw;
    width: 70ch;
    background: $main-color;
    border-radius: 3rem;
    box-shadow: 0 0 15px $accent-color;

    img {
        width: 3rem;
    }
}
