@import '../../shared/css/constants';

#filter {
    max-width: 500px;
    width: 70vw;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 3rem;
    row-gap: 3rem;
    place-items: center;
    width: fit-content;

    & > a {
        color: $secondary-color;
        background: $main-color;
        box-shadow: 0 0 15px $accent-color;
        border-radius: 0.5rem;
        text-decoration: none;
        transition: 300ms;

        &:hover {
            color: $main-color;
            background: $secondary-color;
            box-shadow: 0 0 30px 10px $accent-color;
        }
    }

    div {
        width: 400px;
        display: grid;
        grid-template-columns: 20% auto;
        place-items: center start;
        border: 1px solid $accent-color;
        border-radius: 0.5rem;

        h5 {
            transform: translateY(0.2em);
        }

        img {
            height: 50px;
        }
    }
}

.hide {
    display: none;
}

@import 'list_view_medias';
