@import '../../shared/css/constants';

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;

    a {
        text-decoration: none;
        min-width: 15rem;
        height: fit-content;
        color: $secondary-color;
        background: $main-color;
        border-radius: 2rem;
        transition: 600ms;

        &:hover {
            color: $main-color;
            background: $accent-color;
        }

        img {
            height: 5rem;
        }
    }
}

@import 'medias';
