@import 'constants';

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $background-color;
}

::-webkit-scrollbar-thumb {
    background: $accent-color;
}

::-webkit-scrollbar-thumb:hover {
    background: darken(#6f6fff, 10);
}

.nav-link {
    color: $secondary-color;
}

.btn-primary {
    background: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus {
        background: darken(#000080, 10);
        border-color: $secondary-color;
    }
}

.btn-outline-primary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus {
        background: $secondary-color;
        border-color: $secondary-color;
    }
}

body {
    color: $secondary-color;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: $background-color;
    overflow-x: hidden;

    header {
        box-shadow: 0 0 5px $accent-color;
        margin-bottom: 1vh;
    }
}
