@import 'constants';

form {
    max-width: 800px;
}

form * {
    float: unset !important;
}

.hide {
    display: none;
}

#exclude {
    background: $main-color;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: 0 0 15px $accent-color;
}