{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} Página de {{ action }} | {{ model }} {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'shared/css/createView.css' %}">
{% endblock %}


{% block content %}
<h1 class="text-center mb-5">{{ action }} de {{ model }}</h1>

<form id="exclude" action="" method="post" class="mx-auto mb-5 text-center px-5 py-5">
    {% csrf_token %}

    <h2>Tem certeza disso?<br><small>Não haverá recuperação!</small></h2>
    <hr>
    <h5>
        {{ model }}

        {% if model == 'Credencial' %}
        {{ object.get_service_display }}: {{ object.name }}
        {% elif model == 'Cartão' %}
        {{ object.get_bank_display }}: {{ object.name }}
        {% elif model == 'Anotação' %}
        {{ object.title }}: {{ object.content|truncatewords:5 }}
        {% endif %}

    </h5>
    {{ form|crispy }}

    <input style="width: 94%;" class="btn btn-danger btn-lg mx-auto mt-3" type="submit" value="Excluir">
</form>
{% endblock %}