{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Painel de Segredos do Usuário {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/style.css' %}">
{% endblock %}


{% block content %}
<h1 class="text-center">Painel de Segredos</h1>

<div class="grid mx-5 my-5 text-center">
    <a href="{% url 'secret:credential_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="{% static 'secret/img/credential.png' %}"
            alt="Ícone de cartão de identificação, indicando e simbolizando 'credenciais'.">
        <h4>Credenciais</h4>
    </a>

    <a href="{% url 'secret:card_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="{% static 'secret/img/card.png' %}"
            alt="Ícone de cartão, indicando e simbolizando 'cartões'.">
        <h4>Cartões</h4>
    </a>

    <a href="{% url 'secret:note_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="{% static 'secret/img/file.png' %}"
            alt="Ícone de anotação, indicando e simbolizando 'anotações'.">
        <h4>Anotações</h4>
    </a>
</div>
{% endblock %}