{% extends "admin/index.html" %}


{% block body %}

{{ block.super }}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="position: absolute; top: 4.3rem; left: 62rem">
    <h1>Informações Gerais</h1>

    <div style="display: grid; grid-template-columns: auto auto auto; row-gap: 5rem;">
        {% for i in admin_dashboard.range %}
        <div style="width: 300px; height: 300px;">
            <canvas id="graph{{ i|add:'1' }}"></canvas>
        </div>
        {% endfor %}
    </div>

    {{ admin_dashboard.graph1|safe }}
    {{ admin_dashboard.graph2|safe }}
    {{ admin_dashboard.graph3|safe }}
    {{ admin_dashboard.graph4|safe }}
    {{ admin_dashboard.graph5|safe }}
    {{ admin_dashboard.graph6|safe }}
</div>
{% endblock %}
