{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Dados de Cartão {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/detail_view.css' %}">
<script src="{% static 'secret/js/detailView.js' %}"></script>
{% endblock %}


{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes do Cartão</h1>

    <a href="{% url 'secret:card_update_view' object.slug %}" class="btn btn-primary">Editar Cartão</a>
    <a href="{% url 'secret:card_delete_view' object.slug %}" class="btn btn-danger">Apagar Cartão</a><br>
    <a href="{% url 'secret:card_create_view' %}" class="btn btn-outline-secondary mt-3">Novo Cartão</a>
</div>

<div id="object-content" class="mt-5 mb-5 mx-auto pt-2 pb-4 px-3 text-center">

    <h2 class="mt-5"><img src="/static/secret/img/Credential/{{ object.bank }}.svg"
            alt="Logo do banco referente a este cartão: {{ object.get_bank_display}}.">
        {{ object.get_bank_display }}</h2>
    <h6>Banco</h6>
    <hr>

    <h2 class="mt-5"><img src="/static/secret/img/Credential/{{ object.brand }}.svg"
            alt="Logo da bandeira referente a este cartão: {{ object.get_brand_display}}.">
        {{ object.get_brand_display }}</h2>
    <h6>Bandeira</h6>
    <hr>

    <h2 class="mt-5">{{ object.name }}</h2>
    <h6>Apelido</h6>
    <hr>

    <h2 class="mt-5">{{ object.get_card_type_display }}</h2>
    <h6>Tipo</h6>
    <hr>

    <h2 class="mt-5" data-value="{{ object.expiration.month }}/{{ object.expiration.year }}">*****</h2>
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        Expiração
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>

    {% if object.number|length == 16 %}
    <h2 class="mt-5"
        data-value="{{ object.number|slice:':4' }} {{ object.number|slice:'4:8' }} {{ object.number|slice:'8:12' }} {{ object.number|slice:'12:' }}">
        *****</h2>
    {% else %}
    <h2 class="mt-5" data-value="{{ object.number }}">*****</h2>
    {% endif %}
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        Número
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>

    <h2 class="mt-5" data-value="{{ object.cvv }}">*****</h2>
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        CVV
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>

    <h2 class="mt-5" data-value="{{ object.owners_name }}">*****</h2>
    <h6>
        <button class="btn btn-outline-secondary me-4 reveal">Exibir</button>
        Titular
        <button class="btn btn-outline-primary ms-4 copy">Copiar</button>
    </h6>
    <hr>

    {% if object.note %}
    <h4 class="mt-5" style="text-align: left;">{{ object.note|linebreaks }}</h4>
    {% else %}
    <h2 class="mt-5">-----</h2>
    {% endif %}
    <h6>Anotação</h6>
    <hr>

</div>
{% endblock %}